@use "sass:map";
@use "../abstracts/variables" as v;

@each $key, $value in v.$spacers {
  .m-#{$key} {
    margin: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .p-#{$key} {
    padding: $value;
  }
  .gap-#{$key} {
    gap: $value;
  }
}
